@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/* @import '~mdb-ui-kit/css/mdb.min.css'; */

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;  
  background-color: #F2F2F2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  color: #333333;
  text-align: left;
}