.br {
    display: block;
    color: #333333;
    height: 1px;
}

.quantiti_line {
    margin-left: 2px;;
}

.to_cart {
    font-size: 20px;
    border-color: #008190;
    background-color: #008190;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.to_cart:hover {
    background-color: #005862;
    border-color: #005862; 
}

.text {
    color: #333333;
    text-align: left;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.on {
    color: #008190;
}

.off {
    color: #ccc;
}