.profile h1 {
  font-size: 4rem;
  margin-left: 15%;
  margin: 3rem auto;
  text-align: center;
}

.title {
  margin-top: 2vh;
  text-align: left;
}

.title h2 {
  display: block;
}

.title-welcome {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 3vh;
}

.header {
  margin-left: 3vw;
}