.smallImg {
    width: 100px !important;
    height: 100px !important;
    padding: 0% !important;
}

.text_ {
    text-align: left;
}

.cancelBTn {
    color: #333333;
    background-color: #bbbbbb;
    width: 30px !important;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.cancelBTn:hover {
    background-color: #F2F2F2 !important;
}