.total {
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 1%;
}

.button{
    font-size: 20px;
    border-color: #008190;
    background-color: #008190;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.button:hover {
    background-color: #005862;
    border-color: #005862;
}

.text {
    text-align: left;
}
        